<div class="">
    <h2>{{layer.settings.properties.sectionTitle}}</h2>

    <div class="wiki-markdown">
        {{markdown-to-html layer.wikiContent}}
    </div>

    {{#if layer.settings.properties.addShowMore}}
        <div class="show-more">
            Show more
        </div>
    {{/if}}
</div>