<div class="">
    <h2>{{layer.settings.properties.sectionTitle}}</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec felis nec dolor aliquam laoreet sodales cursus orci. Nunc eu euismod arcu, eu consequat ante. Etiam vehicula tempus diam, congue bibendum erat blandit vel. Curabitur convallis orci id leo rutrum fermentum. Maecenas sodales nisi eget dapibus vulputate. Mauris congue fringilla libero et blandit. Pellentesque ullamcorper accumsan sodales. Praesent fringilla felis a tempor dignissim. Maecenas id tincidunt lorem. Praesent fringilla dignissim ante, ac pharetra purus tincidunt a.

        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis turpis sapien, aliquet in ornare nec, semper hendrerit ligula. Praesent id urna sit amet erat malesuada gravida a nec lacus. Praesent quis rhoncus dui, id congue velit. Sed egestas rhoncus placerat. Aliquam aliquet lectus a nunc vulputate, vel porta ipsum venenatis. Pellentesque ac quam odio. Praesent dapibus ligula vulputate ornare ornare. Aenean a porttitor dui, elementum pharetra est. Mauris eget tellus libero.

        Aliquam ac ex quis arcu commodo fringilla. Nunc a dolor nec odio pellentesque blandit. Sed arcu ipsum, scelerisque sit amet nulla eget, sollicitudin posuere tortor. Mauris aliquam ligula id dapibus maximus. Vivamus justo nisi, dapibus quis blandit nec, porta sed mauris. Nulla eget tempus dolor. Aliquam in euismod ex, non congue eros. Vestibulum dictum, tortor ut bibendum lacinia, mauris magna facilisis lacus, vitae hendrerit ipsum nisi nec ipsum. Mauris neque mi, pretium dictum ultrices ut, tempus in nibh. Ut sed dui consectetur ante tincidunt sagittis.

        Nullam placerat luctus egestas. Fusce cursus fringilla mi id gravida. Aenean imperdiet est sed mi venenatis, ut condimentum velit ullamcorper. Fusce mattis mi quam, et dictum est congue eu. Donec luctus, lacus condimentum euismod tincidunt, velit nunc tempor nulla, vel auctor lacus dui a dui. Donec hendrerit urna sit amet odio fermentum ornare. Cras eu vestibulum turpis, ut cursus libero. Nulla a enim quis ante porta sollicitudin vel eu velit. Phasellus cursus pharetra leo tincidunt pellentesque. Quisque suscipit purus augue, eget pellentesque nisl gravida id.

        In et placerat ligula. Proin quis orci leo. Pellentesque porta elit ac diam ornare, eu vulputate metus blandit. Aenean tellus justo, gravida ac nulla vitae, rhoncus consectetur mauris. Nam tristique ornare vestibulum. Pellentesque sem dolor, finibus in nulla ac, efficitur suscipit quam. In lobortis tortor orci, eu consequat neque imperdiet accumsan. Suspendisse venenatis venenatis lectus id ullamcorper. Duis ultrices dolor mi, egestas vulputate lacus feugiat id.
    </p>

    {{#if layer.settings.properties.addShowMore}}
        <div class="show-more">
            Show more
        </div>
    {{/if}}
</div>