<div class="liquid">
    <h2>{{liquid-bind layer.settings.properties.sectionTitle use="toLeft"}}</h2>

    <p>
        {{markdown-to-html layer.wikiContent}}
    </p>

    {{#if layer.settings.properties.addShowMore}}
        <div class="show-more">
            Show more
        </div>
    {{/if}}
</div>