.circle{
	border-radius: 50%;
}

.padding{
	padding:20px;
}

.ql-container{
	margin-bottom:30px;
}

.ql-editor{
	padding: 0;
}

.ql-editor[contenteditable=true] {
    padding: 15px;
    font-size: 16px;
}
