{{edit-text showSettings=showSettings editMode=editMode layer=layer type="title"}}

{{#if editMode}}
	{{quill-editor value=layer.content options=options textChange=(action "updateText")}}
{{else}}
<div  class="ql-editor">
	{{{layer.content}}}
</div>
{{/if}}