{{yield}}
<div id="froala-editor">
  <h3>Click to edit the Advanced Layer</h3>
  <div>Mauris imperdiet <strong>ligula a mauris porttitor ultricies.</strong>  Praesent ut fringilla orci. Proin feugiat auctor augue non rutrum. Sed ac metus in augue dignissim malesuada non et sem. Pellentesque ut metus odio. Integer fringilla nulla id leo consequat, a sollicitudin sapien fringilla. Fusce vestibulum malesuada nisl. Fusce augue leo, tempus eget mattis vel, imperdiet at nulla.</div>
</div>