@import "pod-styles";

@import "ember-bootstrap/bootstrap";
@import "ember-power-select";


.scroll-top {
    position: fixed;
    right: 30px;
    bottom: 10px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background: #ccc;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
    z-index: 999;
}
.scroll-top:hover {
    background: #eee;
}

/* Pages-nav */
.pages-nav ul{
    list-style-type: none;
    padding-left: 0;
    li {
        float: left;
        padding: 4px;
    }
}

/* Home */

.home-content {
    padding: 50px;
}
.editMenu {
    background: #1b67a4;
    box-shadow: 0 -8px 26px 5px #000000;
    position: fixed;
    color: #fff;
    width: 100%;
    z-index: 99;
}

.layer-title {
    padding-top: 100px;
}

.layer-image {
    background-size: cover;
}

/* Index */
.index-page {
    margin-top: 50px;
    background: #FFC107 url('/img/bg.png') no-repeat center;
    color: #fff;
    height: 500px;
    padding-top: 100px;
    text-align: center;
    h1 {
        text-shadow: 0px 0px 12px rgb(88, 88, 88);
        font-size: 46px;
    }
}


/*New theme*/
.btn-outline-cus{
    background: transparent;
    border: 1px solid #5bc0de;
    color:#5bc0de;
    border-radius:4px;
}

.btn-outline-default-cus{
    background: transparent;
    border: 1px solid #999;
    color:#999;
    border-radius:4px;
}

btn-outline-default-cus:hover{
        background: transparent;

}
