@import "pod-styles";

@import "ember-bootstrap/bootstrap";
@import "ember-power-select";

body {
    font-size: 16px;
    margin-bottom: 40px; /* Temporary due to notice at bottom */
}
html { 
    min-width: 600px;
}
.scroll-top {
    position: fixed;
    right: 30px;
    bottom: 50px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background: #ccc;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
    z-index: 999;
}
.scroll-top:hover {
    background: #eee;
}
.no-scroll{
    overflow: hidden;
}
.select-box {
    border: 2px dashed #ccc;
    text-align: center;
    cursor: pointer;
    background: rgba(93, 138, 179, 0.42);
    background: rgba(92, 104, 115, 0.6);
}

.select-box * {color:white;}
.ember-power-select-selected-item { color:black; }
.ember-power-select-selected-item:hover {color:black;}
.file-browser-item:hover {background-color: rgba(245, 245, 245, 0.46);}

.breadcrumb > li + li:before {
    content: "/ ";
    color: #fff;
}
.inline-block {
    display: inline-block;
    padding-top:3px;
}
.pseudo-link {
    color: #38698f;
    cursor: pointer;
    &:hover {
        color: #38698f;
    }
}

.alpha-alert {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 1031;
    background: #263947;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding:12px;
    min-height: 40px;
    max-height: 40px;
}


/* Pages-nav */
.pages-nav ul{
    list-style-type: none;
    padding-left: 0;

}
.layer-wrapper.pages-menu, .pages-menu .layer-content {
    min-height: 0;
}

/* Home */

.home-content {
    padding: 50px;
}
.editMenu {
    background: #263947;
    position: fixed;
    color: #fff;
    width: 100%;
    min-height: 40px;
    max-height: 40px;
    height:40px;
    padding:5px 106px;
    z-index: 100;
    white-space:nowrap;
}

.editMenu button, .editMenu div.d-inline, .editMenu .d-inline {
    display: inline;
}

@media(max-width: 992px) {
  .btn-outline-white-cus span{ 

    display:none;
}

}

.layer-title {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Index */
.index-page {
    margin-top: 50px;
    color: #fff;
    padding-top: 100px;
    text-align: center;
    height: 500px;
    h1 {
        font-size: 60px;
    }
    .lead {
        font-size: 30px;
    }
}
.starterDiv {
    input {
        width: 200px;
        vertical-align: middle;
        display: inline-block;
        border: none;
        box-shadow: none;
        border-bottom: 1px dashed #d9d9d9;
        font-size: 21px;
        padding-bottom: 16px;
        height: 40px;
        margin-left: -4px;
        border-radius: 0;
    }
    background: #f8f8f8;
}
.learn-more {
    text-align: center;
    h2 {
        font-weight: 300;
        margin-bottom: 60px;
    }
    i.material-icons {
        font-size: 80px;
        color: rgba(109, 198, 209, 0.78);
        border: 2px solid rgba(109, 198, 209, 0.78);
        width: 160px;
        height: 160px;
        padding: 39px;
        border-radius: 100px;
        margin-bottom: 15px;
    }
    h3 {
        height: 80px;
    }
    p {
        color: #666;
    }
}
.features {
    .row {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    h2 {
        text-align: center;
        font-weight: 300;
    }
    img {
        width: 100%;
        box-shadow: 0 0 22px 0px #2196F3;
        border: 1px solid #03A9F4;
    }
    background: #03A9F4;
    color: #FFFFFF;

}


/* New theme */

.btn-outline-cus{
    background: transparent;
    border: 1px solid #5bc0de;
    color:#5bc0de;
    border-radius:3px;
}
.btn-outline-cus-black{
    border: 1px solid #8a6d3b;
    color: #8a6d3b;
    border-radius: 3px;
    background: transparent;
}
.btn-outline-cus[disabled] {
    border-color: #31849c;
}

.btn-outline-default-cus{
    background: transparent;
    border: 1px solid #999;
    color:#999;
    border-radius:3px;
}

.btn-outline-white-cus { 
    background: transparent;
    border: 1px solid #565656;
    color:white;
    border-radius:3px;
}

.btn-outline-white-cus:hover { 
    background: #252525;
    border: 1px solid #565656;
    color:white;
    cursor:pointer;
}

.btn-outline-default-cus:hover{
    background: transparent;

}
.modal-footer {
    border-top: none;
}
.modal-header {
    border-bottom: none;
}

.popover, .modal-content {
    border-radius: 0;
}
.checkbox {
    font-size: 16px;
}

/* Palette skin */
.sp-replacer {
    border: none;
    background: transparent;
    color: #fff;
}
.sp-preview {
    width: 20px;
}
.sp-container {
    background: #fff;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}
.sp-container button {
    background: #e1e1de;
    border: none;
    margin-top: 5px;
    padding: 8px;
    text-shadow: none;
    border: 1px solid #ccc;
}
/* end */

.checkbox, .settings-block>i{
    cursor: pointer;
}
i.text-disabled {
    color: #E0E0E0;
}
.checkbox:hover {
    color: #000;
}

button.btn {
    border-radius: 2px;
}

button .material-icons {
    font-size: 20px;
    vertical-align: bottom;
}

.popover-content {
    padding: 15px;
    font-size: 16px;
}

.pages-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    top: 0;
    left: 0;
    z-index: 99;
    color: #333;
    overflow: scroll;
    .content {
        margin: 50px auto;
    }
    h2 {
        color: #333;
    }
    .overlay-dismiss {
        position: absolute;
        right: 40px;
        cursor: pointer;
        color: #999;
        i {
            font-size: 36px;
        }
    }
}

.sticky-nav{
    width: 100%;
    position: fixed !important;
    top: 0;
    z-index:99;
}

.sticky-nav-adjustment{
    top: 51px;
}

.ql-editor[contenteditable=true] {
    padding: 15px;
    font-size: 16px;
}

.file-browser-list{
    height: 200px !important;
    overflow: auto;
}
.file-browser-item{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.alert-message{
    position: fixed; 
    top:55px;
    right:10px;
    z-index:1;
    display:none;
}

.row { 
    margin: 0;
}


.edit-Mode-View{
    background:#263947;
    position: fixed;
    top:0;
    height:100%;
    z-index: 99;
    /*min-width: 340px;*/
    overflow: hidden;
    width:25%;
}

.site-overview {
    color:white;
    padding:0;
}
.page-overview-block {
    min-height: 10px;
    padding:5px;
    text-align:center;
    background:#ffffffab;
    border-color:#666;

}

.page-overview-block:hover {
    outline:solid 2px white;
    cursor:pointer;
}

.scroll { 
    overflow:scroll;
}
.ss-text {
    font-size: 2px;
    padding:0 15px;
}

.fake-file-view {
    width:60px;
    height:75px;
    margin: 15px auto;
    margin-top:0;
    background:black;
}

.background-image-size {
    height:45px;
}


.add-layer-side-view { 
    height: 100vh;
    overflow-x: hidden; 
    overflow-y: auto; 
    padding:0 8px 0 5px;
}

.sublime-view-scroll {
    height: calc(100vh - 134px); 
    overflow-x: auto; 
    overflow-y: auto; 
    padding: 0; 
    margin-bottom: 180px;
}

.white {
    color: white;
}

.white:hover {
    color: snow;
}


.padding-0 { 
    padding:0;
}

.h4 {
  font-size: 23px;
}

.osf-logo {
    margin: 0px 0px 0px 3px;
}

.navbar-space {
    margin-right:30px;
}

.btn-small {
    font-size: 17px;
    padding: 0px 3px;
    margin: 0px;
}
.btn-small i {
    margin-bottom: 2px;
}

.btn-spacing { 
  margin:0px 10px
}

.d-inline {
    display: inline;
}

.save-staus {
    margin: auto; 
    margin-top: 7px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width:300px;
    height:30px;
    background: rgba(39, 57, 71, 0.7411764705882353);
    border-radius: 0 0 25px 25px;

}

.fa.fa-grip:before {
    content: "\f142 \202F \f142 \202F \f142 \202F \f142 \202F \f142 \202F \f142 \202F ";
    font-size: 10px;
}

.drag-icon { 
    position: absolute;
    top: 20px;
    right: -13px;
    color: rgba(40, 57, 71, 0.35);
}

.resizable-control {
    background: rgba(255, 255, 255, 0.8);
    background: -moz-linear-gradient(360deg, rgba(204,204,204,1) 0%, rgba(204,204,204,1) 16%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 59%, rgba(204,204,204,1) 85%, rgba(204,204,204,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(204,204,204,1)), color-stop(16%, rgba(204,204,204,1)), color-stop(39%, rgba(255,255,255,1)), color-stop(59%, rgba(255,255,255,1)), color-stop(85%, rgba(204,204,204,1)), color-stop(100%, rgba(204,204,204,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(360deg, rgba(204,204,204,1) 0%, rgba(204,204,204,1) 16%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 59%, rgba(204,204,204,1) 85%, rgba(204,204,204,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(360deg, rgba(204,204,204,1) 0%, rgba(204,204,204,1) 16%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 59%, rgba(204,204,204,1) 85%, rgba(204,204,204,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(360deg, rgba(204,204,204,1) 0%, rgba(204,204,204,1) 16%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 59%, rgba(204,204,204,1) 85%, rgba(204,204,204,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(204,204,204,1) 0%, rgba(204,204,204,1) 16%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 59%, rgba(204,204,204,1) 85%, rgba(204,204,204,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#cccccc',GradientType=1 ); /* ie6-9 */
    height:100%;
    width:10px;
    position: fixed;
    top:0;
    color:white;
    left:25%;
    cursor: col-resize;
    z-index: 102;
}
.resizable-control span {
    color: rgba(40, 57, 71, 0.70);
    position: absolute;
    top:50%;
    left:1.5px;
}
[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}


@-moz-document url-prefix() { 
  .edit-menu-action-group {
     margin-top: -25px;
  }
}


.no-style, .no-style:hover {
    color:white;
    text-decoration: none;
}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #69abe8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #666 ;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
