<div class="layer-footer p-v-md">
    <div class="clearfix">
        <div class="row">
            {{#if editMode}}
                <div  class="col-xs-3"></div>
            {{/if}}
            <div class="{{holderCSSEditMode}}">
                <a href="http://www.osf.io/{{guid}}" class="btn-outline-cus btn btn-info btn-lg pull-right" style="margin-top:15px">Visit Project</a>

                <div>powered by Open Science Framework </div>
                <div class="pages-nav">
                    <ul>
                        <li>
                            <a href="#"> Make your own project website </a>
                        </li>
                    </ul>
                </div>
    
            </div>
        </div>
    </div>
</div>