<div class="layer-footer p-v-md">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 p-md">
                <div>powered by Open Science Framework </div>
                <div class="pages-nav">
                    <ul>
                        <li>
                            <a href="#"> Learn more </a>
                        </li>
                        <li>
                            <a href="#"> Make your own project website </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="http://www.osf.io/{{guid}}" class="btn-outline-cus btn btn-info btn-lg" style="margin-top:25px">Visit Project</a>
            </div>
        </div>
    </div>
</div>