.title {
    padding-top:60px;
}

.layer-title-content {
    &.left {
       text-align: left;
    }
    &.center {
        text-align: center;
    }
    &.right {
        text-align: right;
    }
}

.edit-title-lead {
    width: 350px;
    background: rgba(238, 238, 238, 0.11);
    border: none;
    padding: 4px 8px;
    border-bottom: 1px dashed #c4c4c4;
}
