.title {
    padding-top:60px;
}

.layer-title-content {
    &.align-left {
       text-align: left;
    }
    &.align-center {
        text-align: center;
    }
    &.align-right {
        text-align: right;
    }
}
