<div class="">
    <button class="btn btn-default" {{action toggleProperty 'editMode'}} title="Toggle Edit Mode">{{fa-icon "edit" size="lg"}}</button>

    {{#if layer.settings.properties.showTitle}}
         <h1>{{node.title}}</h1>
    {{/if}}
     {{#if layer.settings.properties.showLinks}}
        {{pages-menu layers=layers}}
    {{/if}}
</div>