<div>
    {{#if layer.settings.properties.showTitle}}
         <h1 class="title">{{node.title}}</h1>
    {{/if}}

    <div class="">

	    {{#if layer.settings.properties.showLinks}}
	        {{pages-menu layers=layers theme=theme}}
	    {{/if}}
    </div>
</div>

