<div class="form-group clearfix m-b-lg">
    <label class="control-label " for="info-theme-select">
        Select a Theme
    </label>
    <div class="theme-block p-sm">
        {{#each themes as |theme|}}
            <div class="theme-box" style="background:{{theme.background}}; color: {{theme.color}}">A</div>
        {{/each}}
    </div>
</div>