<div class="">
    <h2>{{layer.settings.properties.sectionTitle}}</h2>
 <a class="btn btn-default" href={{layer.settings.properties.downloadLink}} download={{layer.settings.properties.downloadLink}}>Download</a>
    {{#if layer.settings.description}}
        <p>
            {{layer.settings.description}}
        </p>

    {{/if}}
</div>