{{yield}}
{{#if editMode}}
	<div class="line" style="border-bottom: 2px dashed {{layer.settings.color}};">
		<span class="line-text" style="background-color: {{layer.settings.bgColor}};">{{text}}</span>
	</div>
{{/if}}