{{yield}}

{{edit-text showSettings=showSettings editMode=editMode layer=layer type="title"}}
<div class="layer-footer p-v-md">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 p-md">
            	{{#if layer.settings.properties.sectionLinkDescription}}
				    <p>
				        {{layer.settings.properties.sectionLinkDescription}}
				    </p>
			    {{/if}}
            </div>
            <div class="col-sm-2">

				{{#if layer.settings.properties.sectionLink}}
                <a href="//{{layer.settings.properties.sectionLink}}" type="button" class="btn-outline-cus btn btn-info btn-lg" target="_blank">Open</a>
                {{/if}}

            </div>
        </div>
    </div>
</div>

