{{yield}}
<div>
	<h2>{{layer.settings.properties.sectionTitle}}</h2>

    {{#if layer.settings.properties.showDescription}}
    <h4>Description</h4>
    <p>
        {{node.description}}
    </p>
    {{/if}}
    
    {{#if layer.settings.properties.showContributors}}
    <h4>Contributors</h4>
    	<ul class="contributors-list">
		  <li>Brian A. Nosek</li>
		  <li>Nicole M. Lindner</li>
		  <li>Calvin Lai</li>
		  <li>Charles R. Ebersole</li>
		  <li>Ian Hussey</li>
		  <li>Jordan Axt</li>
		</ul>

    {{/if}}

    {{#if layer.settings.properties.showBibliographicContributors}}
    <h4>Bibliographic Contributors</h4>
    {{/if}}

    {{#if layer.settings.properties.showAffiliatedIntuitions}}
        <h4>Affiliated Intuitions</h4>
    {{/if}}

</div>