img {
    width:48%;
    margin-bottom: 15px;
}

.center {
    margin: 15px auto;
    display: block;
}
.left {
    margin-right:15px;
}
.right {
     margin-left:15px;

}

.side-description {
    width:48%;
    height:100%;
}
.edit-text {
    border: none;
    background: rgba(158, 158, 158, 0.08);
    border-radius: 2px;
}

.margin-bottom {
    margin-bottom:25px;
}

.margin-25 {
    margin:25px;
}