.layer-wrapper {
    position: relative;
}
.layer-content {
    padding: 25px;
    min-height: 100px;
    width:100%;
    float: left;
}


.layer-settings {
    margin-top: 15px;
}

@mixin settings-shadow($color){
    box-shadow: 0 0px 21px 0 $color;
}

.layer-image {
    button.btn-outline-default-cus {
        background: #666;
    }
}


