.layer {
    margin-bottom: 5px;
}

.layer-content {
    padding: 25px;
    min-height: 200px;
    float: left;
}


.layer-settings {
	float:right;
    background: rgba(255, 255, 255, 0.75);
    padding: 25px;
    min-height: 200px;
    color: #333333;
}



