.layer {
    margin-bottom: 5px;
}

.layer-content {
    padding: 25px;
    min-height: 100px;
    width:100%;
    float: left;
}


.layer-settings {
    background: rgba(255, 255, 255, 0.93);
    padding: 25px;
    min-height: 100px;
    width: 40%;
    color: #333333;
    position: absolute;
    top: 0;
    right: 0;
    z-index:10;
}

@mixin settings-shadow($color){
    box-shadow: -8px 0px 13px -7px $color;
}

.theme-dark .layer-settings{
    @include settings-shadow(#888);

}

.theme-light .layer-settings{
    @include settings-shadow(#ccc);
}


.layer-order{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -20px;
    padding-top: 20px;
    width: 20px;
    button {
        float: left;
        margin-top: 5px;

    }
}


