.pages-nav .btn-link {
    font-size: 16px;
}
.pages-nav .btn-link:hover {
    background-color: rgba(248, 248, 248, 0.24);
    border-radius: 2px;
    text-decoration: none;
}

.pages-nav {
    &.left {
       text-align: left;
       float:left
    }
    &.center {
        text-align: center;
        margin: 0 auto;
        width:100%;
    }
    &.right {
        text-align: right;
        float: right;
    }
}

.pages-nav ul{
	display:inline-block;
}