<div class="pages-nav">
    <ul>
        {{#each layers as |layer|}}
            {{#if layer.showInMenu}}
                <li>
                    <a href="#">{{layer.sectionHeader}}</a>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>

