.add-layer-toggle>div {
    border: 1px solid #ccc;
    width: 40px;
    padding: 10px 0;
    border-radius: 30px;
    background: #fff;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 50%;
    margin-top: -20px;
    cursor: pointer;
    z-index: 99;
}
.add-layer-toggle>div:hover {
    background-color: #9E9E9E;
    border-color: #a3a3a3;
    color: #fff;
}

.add-layer{
    height: 0;
}

.add-layer.open{
    height: 120px;
    background: #dff0d8;
    .add-layer-toggle>div {
        margin-top: 55px
    }
}
.add-layer .btn-block {
    padding: 15px;
    font-size: 16px;
    border: none;
    background: rgba(255, 255, 255, 0.65);
}

.add-layer .btn-block:hover {
    background: rgba(255, 255, 255, 0.95);
}
