{{outlet}}

<div class="container home-header">
    <div class="row">
        <div class="col-xs-12">
            <div class="home-content">
                {{pages-menu layers=model.layers}}
                <button class="btn btn-default pull-right" {{action toggleProperty 'editMode'}}>Toggle Edit Mode</button>
            </div>
        </div>
    </div>
</div>
{{#each model.layers as |layer|}}
    {{layer-wrapper layer=layer editMode=editMode themes=model.themes}}
{{/each}}