{{osf-navbar loginAction=(action 'login') hideSearch=true}}

<div class="index-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 p-v-xl">
                <h1> OSF Pages</h1>
                <p class="p-v-md lead">Free and zero maintenance website for your OSF Projects</p>
                {{#link-to "home" 'jyu4t' class='btn btn-lg btn-success p-v-md'}}See an example{{/link-to}}
                {{#link-to "home" 'nc43h' class='btn btn-lg btn-info p-v-md'}}RPP Example{{/link-to}}

            </div>
        </div>
    </div>

</div>

{{outlet}}
